<div ng-include="'components/shell/shell.html'"></div>
<div ng-controller="ItemsCtrl as items">
	<div class="col-md-12">
		<input class="col-md-3" type='text' placeholder='Name' ng-model='items.newName'></input>
		<input class="col-md-3" type='text' placeholder='Description' ng-model='items.newDescription'></input>
		<input class="col-md-3" type='text' placeholder='Category' ng-model='items.newCategory'></input>
		<input class="col-md-3" type='text' placeholder='Size' ng-model='items.newSize'></input>
	</div>

	<div>
		<md-button class='md-raised' class='col-md-6' ng-click='items.NewAdd();'>Add</md-button>
	</div>

	<md-grid-list class="items-list" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="8px" md-gutter-gt-sm="4px">
	  	<md-grid-tile ng-repeat="item in items.allItems" class="lightgrey" md-rowspan="1" md-colspan="1" md-colspan-sm="1">

		    <md-grid-tile-header>
				<md-icon class="md-avatar" md-svg-icon="avatar:svg-{{ ($index + 1) % 11 }}"></md-icon>
				<h3 style='display:inline'>{{item.name}}</h3>
		    </md-grid-tile-header>

	    	<md-grid-body>
				<div>Description: {{item.description}}</div>
				<div>Category: {{item.category}}</div>
				<div>Size: {{item.size}}</div>
		    </md-grid-body>

		    <md-button aria-label="Remove item" class="md-icon-button delete-btn" ng-click="deleteItem(item)">
		      	<md-icon style="fill: #fff" md-svg-icon="action:delete"></md-icon>
		    </md-button>

	    </md-grid-tile>
	</md-grid-list>

</div>